<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <%=image_tag('logo.png' ,{class:'logo'}) %>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Menu</h3></li>
      <li><%= link_to "Page d'accueil", '/index.html' %></li>
      <li><%= link_to 'La Methode', '/methode.html' %></li>
      <li><%= link_to 'Les cours', '/cours.html' %></li>
      <li><%= link_to 'Le studio', '/studio.html' %></li>
      <li><%= link_to 'Accès', '/acces.html' %></li>
      <li><%= link_to 'Contact', '/contact.html' %></li>
    </ul>
    <ul>
      <li><h3>Suivez-nous</h3></li>
      <li><a href="http://www.facebook.com/daphne.pilales.lemans"><i class="fa fa-facebook-square"></i> Facebook</a></li>
      <li><a href="https://www.youtube.com/channel/UC1SGPXERkQZ0eS4LebMDj5g"><i class="fa fa-youtube-square"></i> YouTube</a></li>
    </ul>
  </div>

  <hr>

  <p>studiopilateslemans.fr</p>
  <p>147 Rue Nationale - Le Mans</p>
</footer>

