---
title: STUDIOPILATESLEMANS - 1er Studio de Pilates au Mans
---
<div class="row-wrapper-header">



<div class="cover">

<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">


       <%=image_tag('logo.png' ,{class:'logo'}) %>

    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><%= link_to 'Methode', '/methode.html' %></li>
        <li class="nav-link"><%= link_to 'Cours', '/cours.html' %></li>
        <li class="nav-link"><%= link_to 'Studio', '/studio.html' %></li>
        <li class="nav-link logo">
          <a href="/" >
            <%=image_tag('logo.png' ,{class:'logo'}) %>
          </a>
         </li>
        <li class="nav-link"><%= link_to 'Accès', '/acces.html' %></li>

        <li class="nav-link"><%= link_to 'Contact', '/contact.html' %></li>
        <li class="nav-link"><%= link_to 'Actu', '/actu.html' %></li>
      </ul>
    </nav>

  </div>

</header>

<div class="outer-container-header">



  <cite id="citation">"Ma méthode développe l'ensemble du corps, corrige les mauvaise postures, restaure la vitalité physique, revigore le mental et élève l'esprit". <strong>Joseph Pilates</strong></cite>

</div>
</div>
</div>

<div class="row-wrapper-cours">
  <div class="outer-container-cours">
<h4 style="text-align:center">Trois formules pour bien débuter le pilates</h4>
<br />
<div class="cards">
  <div class="card">
    <div class="card-image">
<picture id='collectif'>

    <%=image_tag('reformer.jpg') %>
</picture>
    </div>
    <div class="card-header">
      Cours collectifs
    </div>
    <div class="card-copy">
      <p>Les cours collectifs se pratiquent au sol avec ou sans matériel (ballon, cercle, foam roller ou arc barrel) en petits groupes de 3 à 8 personnes afin de préserver la convivialité et une correction personnalisée.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <picture id='reformer'>

  <%=image_tag('reformer.jpg') %>
</picture>
    </div>
    <div class="card-header">
      Cours sur machine "Reformer"

    </div>
    <div class="card-copy">
      <p>En duo ou trio pour permettre une progression plus rapide. Vous pouvez partager ce cours entre amis, en couples, ou mère/fille.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
<picture id='prive'>

  <%=image_tag('reformer.jpg') %>
</picture>
    </div>
    <div class="card-header">
       Cours privés
    </div>
    <div class="card-copy">
      <p>Pour un accompagnement personnalisé adapté à vos besoins et votre niveau de pratique.
    </div>
  </div>
</div>


</div>
  </div>

<div class="row-wrapper-index">
<div class="outer-container-index">

<section id="bienfaits-img">
  <picture>

  <%=image_tag('Pilates1.jpg') %>
  </picture>
</section>

<section id="bienfaits">
<h5>Les bienfaits du Pilates</h5>

<ul>
  <li><p><i class="fa fa-check"></i>Corrige et améliore la posture</p></li>
  <li><p><i class="fa fa-check"></i>Rafermie et tonifie les muscles en profondeur</p></li>
  <li><p><i class="fa fa-check"></i>Accroît la prise de conscience du corps et intensifie son contrôle</li>
  <li><p><i class="fa fa-check"></i>Soulage les douleurs et les raideurs du dos</p></li>
  <li><p><i class="fa fa-check"></i>Améliore souplesse, force, equilibre, endurance et coordination</p></li>
  <li><p><i class="fa fa-check"></i>Diminue les problèmes articulaires : arthrose, ostéoporose</p></li>
  <li><p><i class="fa fa-check"></i>Apporte un regain d'énergie, élimine le stress, lutte contre la fatigue</p></li>
  <li><p><i class="fa fa-check"></i>Améliore la circulation sanguine</p></li>
</ul>
</section>


</div>

<div class="outer-container-index">



<section id="pourqui">
<h5>A qui s'adresse le Pilates</h5>

<ul>
  <li><p><i class="fa fa-check"></i>Les personnes souffrant du dos (hernies, tensions, lumbago, raideurs, sciatiques...)</p></li>
  <li><p><i class="fa fa-check"></i>Les personnes souhaitant améliorer leur formes, postures et modeler leur corps.</p></li>
  <li><p><i class="fa fa-check"></i>Les personnes novices en sport ou sédentaires</p></li>
  <li><p><i class="fa fa-check"></i>Soulage les douleurs et les raideurs du dos</p></li>
  <li><p><i class="fa fa-check"></i>Améliore souplesse, force, equilibre, endurance et coordination</p></li>
  <li><p><i class="fa fa-check"></i>Les femmes enceintes</p></li>
  <li><p><i class="fa fa-check"></i>Les personnes agées</p></li>
  <li><p><i class="fa fa-check"></i>Les sportifs expérimentés (danseurs, golfeurs, skieurs...) dans le but d'améliorer leurs performances respectives.</p></li>
</ul>
</section>

<section id="pourqui-img">
  <picture>

  <%=image_tag('pilates-bridge.png') %>
  </picture>
</section>

</div>
</div>

<div class="row-wrapper-gallery">
<div class="outer-container-gallery">
<section id="exercices">
  <h5>Quelques exercices</h5>
<div id="mygallery1">
  <% Dir.foreach("source/images/photos/") do |foto| %>
  <% next if foto == '.' or foto == '..' %>
 <a href="images/photos/<%= foto %>"  title="<%= foto.chomp('.jpg') %>">

    <%= image_tag("photos/#{foto}", { alt: "#{foto.chomp('.jpg')}"}) %>

  </a>

<% end %>
</section>
</div>
</div>
</div>
