<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
       <%=image_tag('logo.png' ,{class:'logo'}) %>
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><%= link_to 'Methode', '/methode.html' %></li>
        <li class="nav-link"><%= link_to 'Cours', '/cours.html' %></li>
        <li class="nav-link"><%= link_to 'Studio', '/studio.html' %></li>
        <li class="nav-link logo">
          <a href="/" >
            <%=image_tag('logo.png' ,{class:'logo'}) %>
          </a>
         </li>
        <li class="nav-link"><%= link_to 'Accès', '/acces.html' %></li>

        <li class="nav-link"><%= link_to 'Contact', '/contact.html' %></li>
        <li class="nav-link"><%= link_to 'Actu', '/actu.html' %></li>
      </ul>
    </nav>
  </div>
</header>

<div class="row-wrapper">
<div class="outer-container">
<section>
<p>Headings</p>
<br/>
<h1>Studio Pilates</h1>
<h2>Studio Pilates</h2>
<h3>Studio Pilates</h3>
<h4>Studio Pilates</h4>
<h5>Studio Pilates</h5>
<h6>Studio Pilates</h6>
</section>
<br />
<section>
  <p>Headings Italic</p>
  <br />
<h1><i>Studio Pilates</i></h1>
<h2><i>Studio Pilates</i></h2>
<h3><i>Studio Pilates</i></h3>
<h4><i>Studio Pilates</i></h4>
<h5><i>Studio Pilates</i></h5>
<h6><i>Studio Pilates</i></h6>
</section>

<br />
<section>
  <p>Body text</p>
<br/>
<p><b>Lorem ipsum dolor sit amet</b>, consectetur adipiscing elit. Quisque fringilla ullamcorper lectus consequat vehicula. Morbi placerat velit libero, nec dictum neque iaculis sit amet. Aenean et faucibus dolor. Donec egestas est ac rutrum hendrerit. Sed efficitur orci eget lorem finibus, ut faucibus erat ultrices. Phasellus vel ornare leo. Curabitur accumsan elit quis tempus elementum. Proin sit amet finibus neque. Nulla aliquam nisi tristique fermentum gravida. Aenean non libero velit. Sed tincidunt ligula vel ultrices lobortis. Aenean vel feugiat urna, tincidunt porttitor enim. Sed quis lacinia libero, non convallis nibh.

<i>Curabitur leo dolor</i>, ultrices non viverra sit amet, feugiat ac risus. Mauris in rhoncus magna. Nulla leo ligula, feugiat sit amet tristique ut, egestas id nisi. Donec vel scelerisque nisl. Proin purus magna, lobortis quis condimentum ut, vulputate eu justo. Nam quis nisi vel mauris auctor imperdiet. Aenean quis neque sem. Quisque vestibulum dui nisi, mollis volutpat urna pulvinar in.

<u>Suspendisse ut mauris eget odio lobortis semper</u>. Pellentesque augue ipsum, dignissim a semper vestibulum, bibendum nec dolor. Mauris egestas vitae sem vel pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla hendrerit leo ut diam convallis pharetra. Etiam et eros lacus. Nunc posuere est ac lectus rutrum, id porttitor turpis sollicitudin. Morbi faucibus neque vel tellus fringilla, sit amet tincidunt ligula iaculis. Integer mi eros, fermentum a elementum eu, pharetra quis urna. Suspendisse potenti.</p>
</section>
<br />
<section>
  <p>Color palettes</p>
</section>
</div>
</div>
